/* GtkButton */
button {
  background: @bg1;
  padding: 5px;
  border-radius: 2px;
  border-color: @bg1;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}

/* GtkCheckButton */
checkbutton {
  padding: 6px;
}
checkbutton:disabled{
  color: @fg4;
}
checkbutton check{
  background: @bg3;
  margin: 5px;
}
checkbutton:disabled check{
  background: @bg1;
  color: @fg;
}

/* GtkRadioButton */
radiobutton {
  padding: 6px;
}
radiobutton radio {
  background: @bg3;
  margin: 5px;
  border-radius: 10px;
}
radiobutton:disabled {
  color: @fg4;
}
radiobutton:disabled radio{
  background: @bg1;
  color: @fg;
}

/* GtkToggleButton */
button.toggle {
  border-color: @bg3;
  color: @fg1;
}
button.toggle:hover{
  color: @fg1;
}
button.toggle:checked{
  background: @bg3;
  color: @fg;
}
button.toggle:checked:disabled{
  color: @bg1;
}

button:disabled {
  background: @bg1;
  color: @fg4;
}

/* GtkLinkButton */
button.link{
  color: @fg1;
}

/* GtkSwitch */
switch {
  background: @bg1;
}
switch slider {
  background: @bg3;
}
switch:disabled {
  color: @fg4;
}
switch:disabled slider{
  background: @fg4;
}
