/* GtkLabel */
label {
  background: transparent;
}
label selection{
  background: @bg3;
}

/* GtkSpinner */
spinner:checked{
  color: @fg1;
}

/* GtkInfoBar */
infobar {
  background: @fg1;
}

infobar.warning {
  background: @fg3;
}
infobar.error {
  background: @fg2;
}

/* GtkProgressBar */
progressbar {
  background: @bg1;
  padding: 3px;
  margin: 3px;
}

progressbar progress{
  background: @fg1;
}

/* GtkLevelBar */
levelbar{
  background: @bg1;
  padding: 3px;
  margin:  3px;
  color: @fg1;
}


/* GtkStatusBar */
statusbar{
  background: @bg;
  padding: 5px;
}
