/* GtkNotebook */
notebook {
  background: @bg;
}
notebook header {
  background: @bg;
}

notebook tab {
  padding: 10px;
  background: @bg;
}
notebook header.top tabs tab:checked {
  background: @fg1;
}
notebook header.bottom tabs tab:checked {
  background: @fg1;
}
notebook header.left tabs tab:checked {
  background: @fg1;
}
notebook header.right tabs tab:checked {
  background: @fg1;
}

notebook tab:hover{
  color: @fg;
  background: @fg1;
}

notebook stack{
  padding: 5px;
}

/* GtkExpander */
expander {
  background: @bg1;
}
expander title {
  padding: 6px;
}
expander arrow {
  margin-right: 5px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: @fg;
  min-width: 15px;
}
exapnder arrow:hover{
  color: @fg;
}
expander arrow:checked{
  -gtk-icon-transform: rotate(-180deg);
}
