combobox arrow{
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: @fg;
  min-width: 15px;
}
entry.combo:focus + button arrow{
  color: @bg;
}
combobox window.popup {
  background: @bg1;
}


menu {
  background: @bg1;
  padding-top: 10px;
  padding-bottom: 10px;
}
menuitem {
  background: @bg1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
menubar {
  background: @bg;
}
menubar > menuitem{
  background: @bg;
}
menuitem arrow {
  min-height: 16px;
  min-width: 16px;
}
menuitem arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 8px;
}
menuitem arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
  margin-right: 8px;
}
menuitem:hover{
  background: @fg1;
}

menuitem radio{
  min-width: 10px;
  min-height: 10px;
  background: @bg1;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: @fg;
  margin-left: 5px;
  margin-right: 5px;
}
menuitem radio:checked{
  background: @fg;
}
menuitem radio:indeterminate{
  background: @bg4;
}

menuitem check{
  min-width: 10px;
  min-height: 10px;
  background: @bg1;
  border-width: 3px;
  border-style: solid;
  border-color: @fg;
  margin-left: 5px;
  margin-right: 5px;
}
menuitem check:checked{
  background: @fg;
}
menuitem check:indeterminate{
  background: @bg4;
}



toolbar {
  background: @bg1;
}
