headerbar, .titlebar {
  padding: 10px;
  background: @bg;
}

button.close {
  background: none;
  border-color: transparent;
  color: @fg2;
}

button.maximize, button.minimize {
  background: none;
  border-color: transparent;
  color: @fg1;
}
headerbar button.text-button, .titlebar button.text-button {
  padding-left: 10px;
  padding-right: 10px;
}
