/* GtkEntry */
entry {
  background: @bg;
  border-width: 1px;
  border-color: @fg1;
  border-style: solid;
  padding: 5px;
  color: @fg1;
}
entry:focus {
  border-color: @fg;
  color: @fg;
}
entry:disabled {
  border-color: @fg4;
  color: @fg4;
}
entry selection {
  background: @bg3;
  color: @fg;
}
entry + button{
  background: @fg1;
  margin: 0px;
  border-width: 1px;
  border-color: @fg1;
  border-style: solid;
  border-radius: 0px;
}
entry:disabled + button {
  background: @fg4;
  border-color: @fg4;
}
entry:focus + button{
  background: @fg;
  border-color: @fg;
  color: @bg;
}


/* GtkScale */

scale trough {
  background: @bg1;
  min-width: 4px;
  min-height: 4px;
  margin: 10px;
  color: @fg1;
}
scale trough slider{
  min-width: 10px;
  min-height: 10px;
  margin: -5px;
  background: @fg1;
  border-radius: 10px;
}
scale:disabled trough slider {
  background: @fg4;
}
scale highlight {
  background: @fg1;
}
scale:disabled highlight {
  background: @fg4;
}

/* GtkSpinButton */
spinbutton {
  background: @fg1;
}
spinbutton button{
  background: @fg1;
  border-color: @fg1;
}
spinbutton:focus {
  background: @fg;
}
spinbutton:focus button{
  background: @fg;
  border-color: @fg;
  color: @bg;
}
spinbutton:disabled {
  background: @fg4;
}
spinbutton:disabled button{
  background: @fg4;
  border-color: @fg4;
  color: @fg;
}
