placessidebar {
  background: @bg;
  padding: 10px;
  padding-left: 0px;
}

placessidebar row {
  padding: 10px;
  padding-left: 20px;
}

placessidebar row:selected {
  background: @fg1;
}

placessidebar row image.sidebar-icon {
  margin-right: 20px;
}
